.blog-content {
    margin: 0 auto;
    display: flex;
    padding-top: 100px;
    &__section {
        &--aside {
            width: 33.33%;
            padding-right: 20px;

        }
        &--main {
            width: 66.66%;       
        }
    }
}

.aside-content {
    background: #fff;
    padding: 45px;
    margin-bottom: 20px;

    &__about-section {
        
        &--item a {
            display:inline-block;
            text-transform: initial;
            color: $date-author-color;
            font-weight: bold;
        }
    }

    &__recent-section {
        list-style: none;
        padding-left: 5px;

        &--item {
            display: flex;
            font-family: "Roboto", sans-serif;
            line-height: 32px;
            font-size: 20px;
            font-size: 2rem;
        }

        &--item::before {
            content: "\2022";
            color: $primary-color;
            font-weight: bold;
            display: inline-block;
            width: 15px;
            display: flex;
            align-items: center;
        }

        &--item a {
            text-transform: initial;
            color: $black-color;         
        }
    }

}

.blog-post {
    background: white;
    padding: 45px;
    border-bottom: 5px solid $primary-color;

    &__text:first-child {
        margin: 0;
    }

    &__text:nth-child(2) {
        font-style: italic;
    }
}

.italic-navy-text {
    font-style: italic;
    font-weight: bold;
    color: $date-author-color;
    margin: 5px;
    margin-top: 0;
}

.blog-reply {

    &__section {
        margin: 35px 0;
        padding: 20px 10px 20px 45px;
        display: flex;  
        background: #fff;
        &--image {
            width: 10%;
        }
        &--text {
            width: 90%;
            padding-left: 20px;
        }
    }
    
    &__section:last-child {
       border-bottom: 5px solid $primary-color;
    }
}

@media (max-width: 1012px) {

    .aside-content {
        padding: 20px;
    }

    .blog-post {
        padding: 20px;
    }
}

@media (max-width: 600px) {

    .blog-content {
        display: initial;
            &__section {
                &--aside {
                    width: 95%;
                    padding-right: 20px;
                }

                &--main {
                    width: 95%;       
                }
            }
        .blog-content__section--aside {
            padding-right: 0px;
            margin: 0 auto;
        }

        .blog-content__section--main {
            margin: 0 auto;
        }

        .header-banner-blog__item {
            text-align: center;
        }
    }
}

