
.contact {
    display: flex;
    margin: 100px auto;
    
    &__info {
        background: #fff;
        padding-left: 25px;
        padding-right: 70px;
    }
}

// block
.social-icons {
    list-style-type: none;
    @include font-size(25);
    display: flex;
    padding-left: 0;
    margin-top: 0;
    /* Element */
    &__icon {
        margin: 8px 0;
        padding: 0 15px;
    }

    &__icon:first-child {
        padding-left: 0;
    }

    & a {
        color: #f6a823;
    }
}

.contact-info {

    &__list {
        & a {
            text-transform: lowercase;
            font-weight: bold;
            @include font-size(25); 
            padding-bottom: 15px;
        }
        &--item {
            text-decoration: none;
            color: $black-color;
            font-style: normal;
            margin: 0;
            padding: 0;
        }
    }
}

@media (max-width: 600px) {
    
    .contact {
        width: 90%;
        text-align: center;
        &__info {
            padding: 10px 5px;
        }
    }
    .social-icons {
        justify-content: space-around;
        &__icon {
            font-size: 3.5rem;
        }
    }
}
