/*  Block */
.gallery {
    background: #fff;
}

.gallery-container {
    padding: 100px 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    &__image {
        padding: 0 10px;
        margin: 0;
    }
    &__image:first-child {
        padding-left: 0;
    }
    &__image:last-child {
        padding-right: 0;
    }
}



