$primaryColor: #f6a823; //oragney yellow
$accentColor:#05afc1; // Accent or Button Color
$backgroundColor: #f0efed; //white shade
$dateAuthorColor: #285e64; //Dark grey blue
$GreyColor: #4f4f4f; //Grey..
$blackColor: #2c2c2c; //Black..
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Lora', serif;

body {
    max-width: 1600px;
    margin: 0 auto;
}

@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

@mixin primaryFont($size){
    font-family: $mainFont;
    color: $blackColor;
}

@mixin secondaryFont($size) {
    font-family: $secondaryFont;
    color: $blackColor;
}

h1 {
    font-family: $secondaryFont;
    text-transform: uppercase;
    font-weight: bold;
    line-height: fontSize(92);
    @include fontSize(80);
}

h2 {
    font-family: $mainFont;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    @include fontSize(42);
}

h3 {
    font-family: $mainFont;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    @include fontSize(32);
}

@mixin menuText {
    font-family: $mainFont;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 1px;
}

@mixin mainWrapper {
    max-width: 1280px;
}

@mixin buttonText($size) {
    color: $blackColor;
    background: $accentColor;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    width: 100%;
}

a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

p {
    font-family: $mainFont;
    line-height: 32px;
    @include fontSize(20);
}