$primaryColor: #f6a823; //oragney yellow
$accentColor:#05afc1; // Accent or Button Color
$backgroundColor: #f0efed; //white shade
$dateAuthorColor: #285e64; //Dark grey blue
$red-color: #a82706; //red rust
$GreyColor: #4f4f4f; //Grey..
$blackColor: #2c2c2c; //Black..
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Lora', serif;

body {
    margin: 0 auto;
    background: #fff;
}

@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    // font-size: ($sizeValue/10) * 1rem;
}

@mixin primaryFont($size){
    font-family: $mainFont;
    color: $blackColor;
}

@mixin secondaryFont($size) {
    font-family: $secondaryFont;
    color: $blackColor;
}

h1 {
    font-family: $secondaryFont;
    text-transform: uppercase;
    font-weight: bold;
    line-height: fontSize(92);
    @include fontSize(80);
}

h2 {
    font-family: $mainFont;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    @include fontSize(42);
}

h3 {
    font-family: $mainFont;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    @include fontSize(32);
}

h4 {
    font-family: $mainFont;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    @include fontSize(24);
}

p {
    font-family: $mainFont;
    line-height: 32px;
    @include fontSize(20);
}

@mixin menuText {
    font-family: $mainFont;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 1px;
}


.main-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

@mixin buttonText($size) {
    color: $blackColor;
    background: $accentColor;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.find-out-item,
.read-more-item {
    margin-top: 40px;
}


a.find-out-button,
a.read-more {
    background: $accentColor;
    color: $blackColor;
    font-weight: bold;
    padding: 15px;
}



.form {
    display: flex;
    flex-direction: column;

    &__item {
        display: flex;
        // padding: 10px 0;
        &--item {
            width: 100%;
        }
    }
}

input[type=text],
input[type=email],
input[type=submit],
textarea {
    border: none;
    padding: 15px;
    margin: 2px;
}

textarea {
    padding-top: 20px;
}

::placeholder {
    font-style: italic;
}

input[type=submit] {
    background: $accentColor;
    font-weight: bold;
    padding: 15px 0;
    margin: 12px 0;
}

    .visuallyhidden:not(:focus):not(:active) {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;
    }