$primary-color: #f6a823; //oragney yellow
$primaryColor: #f6a823; //oragney yellow
$accent-color:#05afc1; // Accent or Button Color
$background-color: #f0efed; //white shade
$date-author-color: #285e64; //Dark grey blue
$red-color: #a82706; //red rust
$grey-color: #4f4f4f; //Grey..
$black-color: #2c2c2c; //Black color
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Lora', serif;

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    background: $background-color;
    
}

@mixin font-size($size-value) {
    font-size: $size-value * 1px;
    font-size: ($size-value / 10) * 1rem;
}

@mixin primary-font($size){
    font-family: $main-font;
    color: $black-color;
}

@mixin secondary-font($size) {
    font-family: $secondary-font;
    color: $black-color;
}

h1 {
    font-family: $secondary-font;
    text-transform: uppercase;
    font-weight: bold;
    line-height: font-size(92);
    @include font-size(80);
}

h2 {
    font-family: $main-font;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    @include font-size(42);
}

h3 {
    font-family: $main-font;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    @include font-size(32);
}

h4 {
    font-family: $main-font;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    @include font-size(24);
}

p {
    font-family: $main-font;
    line-height: 32px;
    @include font-size(20);
}

@mixin menu-text {
    font-family: $main-font;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 1px;
}


.main-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 85%;
}

@mixin button-text($size) {
    color: $black-color;
    background: $accent-color;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.find-out-item,
.read-more-item {
    margin-top: 40px;
}


a.find-out-button,
a.read-more {
    background: $accent-color;
    color: $black-color;
    font-weight: bold;
    @include font-size(20);
    padding: 15px;
}


.form {
    display: flex;
    flex-direction: column;

    &__item {
        display: flex;
        &--item {
            width: 100%;
        }
    }
}

.contact__form {
    width: 100%;
    padding-left: 45px;
    &--text-area {
        min-height: 300px;
    }
}

// RESPONSIVE STYLES FOR THE FORM
// -------------------------------
@media (max-width: 1012px) {
    
    .main-wrapper {
        width: 95%;
    }

    .header-banner-contact__item {
        text-align: center;
    }
    .contact {
        flex-direction: column;
        width: 70%;
        margin: 20px auto;
    }

    .contact__form {
        padding-left: 0;
        margin: 5px 0;
    }
    
    .form__item {
        display: flex;
        flex-direction: column;
        &--item {
            margin: 5px 0;
        }
    } 

}

input[type=text],
input[type=email],
input[type=submit],
textarea {
    border: none;
    padding: 25px;
    @include font-size(20);
}
input[type=text] {
    margin-right: 10px;
}

textarea {
    margin-top: 10px;
}

::placeholder {
    font-style: italic;
}

input[type=submit] {
    background: $accent-color;
    font-weight: bold;
    padding: 15px 0;
    margin: 12px 0;
}

    .visuallyhidden:not(:focus):not(:active) {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;
    }


@media (max-width: 1280px) {


    .main-wrapper {
        max-width: 1024px;
        // padding: 0 128px;
    }
}