header {
    background-color: $primary-color;
}

.header-container {
    display: flex;

    &__item--circle-text {
        position: absolute;
        width: 20%;
        height: auto;
        left: 30px;
        top: 100px;
    }

    &__item--text {
        padding-right: 100px;
        font-size: 15rem;
        position: relative;
    }

    &__item--img {
        box-shadow: 25px 25px 0px 0px #fff;
        position: relative;
        top: 50px;
    }
}

.header-banner-contact,
.header-banner-blog
{
    background-image: url('../assets/contact-image-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: flex-end;

    &__item {
        margin: 0;
        position: relative;
        top: 50px;
    }
}
    .header-banner-blog {
        background-image: url('../assets/blog-image-1.jpg');
    }
    
@media (max-width: 1220px) {
      
.header-container {
    margin: 0 auto;
    justify-content: center;  
    &__item--circle-text {
        width: 10%;
        height: auto;
        left: 180px;
        top: 110px;
    }
        &__item--text {
            padding-right: 50px;
            @include font-size(120);
        }

        &__item--img {
            max-height: 300px;
            width: auto;
        }
    }
}

@media (max-width: 1012px) {
    .header-banner-contact,
    .header-banner-blog
    {
        height: 200px;
    }
}

@media (max-width: 700px) {

.header-container {
    
    &__item--circle-text {
        width: 10%;
        height: auto;
        left: 50px;
        top: 100px;
    }
        &__item--text {
            padding-right: 50px;
            font-size: 8rem;
        }

        &__item--img {
            max-height: 250px;
            width: auto;
        }
    }
}

@media (max-width: 540px) {

.header-container {
    flex-direction: column;
    justify-items: center;

    &__item--circle-text {
        width: 20%;
        height: auto;
        left: 0px;
        top: 30px;
    }
        &__item--text {
            padding-right: 0;
            font-size: 8rem;
            margin-bottom: 0;
        }

        &__item--img {
            width: 200px;
            margin: 0 auto;
        }
    }

}