
.description {
    background: $backgroundColor;
    padding: 100px 0;
} 

.description-container {
    padding-right: 250px;
}




// ICONS AND TEXT SECTION

// BLOCK
.services {
    background: $backgroundColor;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    
}

.services-container {
    flex: 1 0 auto;
    width: 50%;
    display: flex;
    &__icon {
        background: $primaryColor;
        padding: 10px;
        border-radius: 50%;
    }
}

.services-text-cell {
    padding-left: 25px;
        &__item a {
            color: black;
        }
        &__item:first-child {
            margin: 0;
        }
}


