
.description {
    background: $backgroundColor;
    padding: 100px 0;
} 

.description-container {
    padding-right: 250px;
}












.grid-container__row-1 {
        display: flex;
        margin-bottom: 45px;
        &--item {
            width: 50%;
        }
        &--item:last-child {
            padding-left: 55px;
        }

        &--image-1 {
            box-shadow: -25px 25px 0px 0px $red-color, -600px 25px 0px 0px $red-color;
            -webkit-box-shadow: -25px 25px  0px 0px $red-color, -600px 25px  0px 0px $red-color;
            -moz-box-shadow: -25px 25px  0px 0px, -600px 25px 0px 0px $red-color;
        }


}

.grid-container__row-2 {
    display: flex;
    text-align: right;
        &--item {
            width: 50%;
        }
        &--item:first-child {
            padding-right: 55px;
        }

        &--title {
            margin-top: 0;
        }
        &--image-2 {
            box-shadow: 25px 25px 0px 0px $primaryColor, 400px 25px  0px 0px $primaryColor;
            -webkit-box-shadow: 25px 25px  0px 0px$primaryColor, 600px 25px  0px 0px $primaryColor;
            -moz-box-shadow: 25px 25px  0px 0px, 400px 25px  0px 0px $primaryColor;
        }
}





// ICONS AND TEXT SECTION

// BLOCK
.services {
    background: $backgroundColor;
    // display: flex;
    // flex-wrap: wrap;
    padding: 100px 0;
    
}

.services-container {
    display: flex;
    flex-wrap: wrap;
}

.services-item {
    flex: 1 0 auto;
    width: 50%;
    display: flex;
    &__icon {
        background: $primaryColor;
        padding: 10px;
        border-radius: 50%;
        color: black;
    }
}

.services-text-cell {
    padding-left: 25px;
        &__item a {
            color: black;
        }
        &__item:first-child {
            margin: 0;
        }
}

.bottom-banner {
    // max-height: 800px;
    // min-height: 500px;
}
