.journey {
    background: $background-color;
}

.journey-container {
    padding: 100px 0;
    display: flex;
    align-items: flex-start;

    &__image {
        width: 100%;
        box-shadow: 25px 25px 0px 0px $primary-color;

    }
    
        &__text {
            display: flex;
            flex-direction: column;
            padding-left: 70px;
        }

        &__text h2 {
                margin: 0;
            }
}

@media (max-width: 740px) {
    .journey-container {
    padding: 10px;
    padding-top: 30px;
    flex-direction: column;
    align-items: flex-start;
    
    &__image {
        width: 50%;
        margin: 0 auto;
    }
    &__text {
        padding-left: 0;
        text-align: center;
    }
}
}


