.journey {
    background: $backgroundColor;
}

.journey-container {
    padding: 100px 0;
    display: flex;
    &__image {
        // width: 45%;
        box-shadow: 25px 25px 0px 0px $primaryColor;
    }
    
        &__text {
            display: flex;
            flex-direction: column;
            // border: 2px solid red;
            padding-left: 70px;
        }

        &__text h2 {
                margin: 0;
            }
}



