nav {
    background-color: $primaryColor;
    display: flex;
    justify-content: center;
}

.nav {
    @include menuText;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0px;
    @include fontSize(20);

    &__item {
        padding: 20px;
        &--focus {
            font-family: $secondaryFont;
            @include fontSize(35);
        }
    }

    &__item a {
        text-decoration: none;
        text-transform: uppercase;
        color: $blackColor;
    }
    
    .nav__item--active a {
        color: #fff;  
    }

}



.hamburger, 
.cross {
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  border: none;
  padding:5px 15px 0px 15px;
  color:$black-color;
  font-size:3.4rem;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  padding:7px 15px 0px 15px;
  font-size: 7rem;
  line-height:65px;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; width:100%;  position:absolute; text-align:center;}

.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}