nav {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
}

.nav {
    @include menu-text;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0px;
    @include font-size(20);

    &__item {
        padding: 20px;
        &--focus {
            font-family: $secondary-font;
            @include font-size(35);
        }
    }

    &__item a {
        text-decoration: none;
        text-transform: uppercase;
        color: $black-color;
    }
    
    .nav__item--active a {
        color: #fff;  
    }
}

.hamburger, 
.cross {
    display: none;
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    border: none;
    padding:5px 15px 0px 15px;
    color:$black-color;
    font-size:3.4rem;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}
.cross{
    padding:7px 15px 0px 15px;
    font-size: 7rem;
    line-height:65px;
    z-index:10000000000000;
}
.menu {z-index:1000000; font-weight:bold; width:100%; text-align:center;}
.menu{z-index:1000000; font-weight:bold; background:$primary-color; text-align:center; @include font-size(20);}
.menu ul {margin: 0; padding: 0; list-style-type: none;}
.menu li {display: block; padding:15px 0 15px 0; border-bottom: $black-color 1px solid; }
.menu li:hover{display: block; background:#ffffff; padding:15px}
.menu ul li a { text-decoration:none;  margin: 0px;}
.menu ul li a:hover {  color: $red-color; text-decoration:none;}
.menu a{text-decoration:none; color:$black-color;}
.menu a:hover{text-decoration:none; color:$red-color;}

// code credit for hamburger nav from author: Glenn Smith @ https://codepen.io/g13nn/pen/eHGEF

@media (max-width: 700px) {
    .nav {
        @include font-size(15);

        &__item {
            padding: 15px;
            &--focus {
                font-family: $secondary-font;
                @include font-size(25);
            }
        }
    }
}

@media (max-width: 540px) {
            .nav {
            @include font-size(10);

        &__item {
            padding: 10px;
            &--focus {
                font-family: $secondary-font;
                @include font-size(20);
            }
        }
    }
}

@media (max-width: 540px) {
    .nav {
        display: none;
    }
    .hamburger, 
    .cross {
  display: block;
    }
}