/*GENERAL STYLES*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: 0 auto;
  background: #f0efed; }

h1 {
  font-family: "Lora", serif;
  text-transform: uppercase;
  font-weight: bold;
  line-height: fontSize(92);
  font-size: 80px;
  font-size: 8rem; }

h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 42px;
  font-size: 4.2rem; }

h3 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 32px;
  font-size: 3.2rem; }

h4 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  font-size: 2.4rem; }

p {
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  font-size: 20px;
  font-size: 2rem; }

.main-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 85%; }

img {
  display: block;
  max-width: 100%; }

a {
  text-decoration: none;
  text-transform: uppercase; }

.find-out-item,
.read-more-item {
  margin-top: 40px; }

a.find-out-button,
a.read-more {
  background: #05afc1;
  color: #2c2c2c;
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  padding: 15px; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .form__item--item {
      width: 100%; }

.contact__form {
  width: 100%;
  padding-left: 45px; }
  .contact__form--text-area {
    min-height: 300px; }

@media (max-width: 1012px) {
  .main-wrapper {
    width: 95%; }
  .header-banner-contact__item {
    text-align: center; }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 70%;
    margin: 20px auto; }
  .contact__form {
    padding-left: 0;
    margin: 5px 0; }
  .form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .form__item--item {
      margin: 5px 0; } }

input[type=text],
input[type=email],
input[type=submit],
textarea {
  border: none;
  padding: 25px;
  font-size: 20px;
  font-size: 2rem; }

input[type=text] {
  margin-right: 10px; }

textarea {
  margin-top: 10px; }

::-webkit-input-placeholder {
  font-style: italic; }

:-ms-input-placeholder {
  font-style: italic; }

::-ms-input-placeholder {
  font-style: italic; }

::placeholder {
  font-style: italic; }

input[type=submit] {
  background: #05afc1;
  font-weight: bold;
  padding: 15px 0;
  margin: 12px 0; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@media (max-width: 1280px) {
  .main-wrapper {
    max-width: 1024px; } }

nav {
  background-color: #f6a823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.nav {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 1px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding-left: 0px;
  font-size: 20px;
  font-size: 2rem; }
  .nav__item {
    padding: 20px; }
    .nav__item--focus {
      font-family: "Lora", serif;
      font-size: 35px;
      font-size: 3.5rem; }
  .nav__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #2c2c2c; }
  .nav .nav__item--active a {
    color: #fff; }

.hamburger,
.cross {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  border: none;
  padding: 5px 15px 0px 15px;
  color: #2c2c2c;
  font-size: 3.4rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000; }

.cross {
  padding: 7px 15px 0px 15px;
  font-size: 7rem;
  line-height: 65px;
  z-index: 10000000000000; }

.menu {
  z-index: 1000000;
  font-weight: bold;
  width: 100%;
  position: absolute;
  text-align: center; }

.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f1f1f1;
  position: absolute;
  text-align: center;
  font-size: 12px; }

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none; }

.menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid; }

.menu li:hover {
  display: block;
  background: #ffffff;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid; }

.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #666; }

.menu ul li a:hover {
  color: #666;
  text-decoration: none; }

.menu a {
  text-decoration: none;
  color: #666; }

.menu a:hover {
  text-decoration: none;
  color: #666; }

header {
  background-color: #f6a823; }

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header-container__item--circle-text {
    position: absolute;
    width: 20%;
    height: auto;
    left: 30px;
    top: 100px; }
  .header-container__item--text {
    padding-right: 100px;
    font-size: 15rem;
    position: relative; }
  .header-container__item--img {
    -webkit-box-shadow: 25px 25px 0px 0px #fff;
    box-shadow: 25px 25px 0px 0px #fff;
    position: relative;
    top: 50px; }

.header-banner-contact,
.header-banner-blog {
  background-image: url("../assets/contact-image-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .header-banner-contact__item,
  .header-banner-blog__item {
    margin: 0;
    position: relative;
    top: 50px; }

.header-banner-blog {
  background-image: url("../assets/blog-image-1.jpg"); }

@media (max-width: 1220px) {
  .header-container {
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header-container__item--circle-text {
      width: 10%;
      height: auto;
      left: 180px;
      top: 110px; }
    .header-container__item--text {
      padding-right: 50px;
      font-size: 10rem; }
    .header-container__item--img {
      max-height: 300px;
      width: auto; } }

@media (max-width: 1012px) {
  .header-banner-contact,
  .header-banner-blog {
    height: 200px; } }

.description {
  padding: 100px 0; }

.description-container {
  padding-right: 250px; }

.grid-container {
  background: #fff; }

.grid-container__row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px; }
  .grid-container__row-1--item {
    width: 50%; }
  .grid-container__row-1--item:last-child {
    padding-left: 55px; }
  .grid-container__row-1--image-1 {
    box-shadow: 25px 25px 0px 0px #a82706, -600px 25px 0px 0px #a82706;
    -webkit-box-shadow: 25px 25px 0px 0px #a82706, -600px 25px 0px 0px #a82706;
    -moz-box-shadow: 25px 25px 0px 0px, -600px 25px 0px 0px #a82706;
    position: relative;
    top: -55px; }

.grid-container__row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right; }
  .grid-container__row-2--item {
    width: 50%; }
  .grid-container__row-2--item:first-child {
    padding-right: 55px; }
  .grid-container__row-2--title {
    margin-top: 0; }
  .grid-container__row-2--image-2 {
    box-shadow: 25px 25px 0px 0px #f6a823, 400px 25px 0px 0px #f6a823;
    -webkit-box-shadow: 25px 25px 0px 0px #f6a823, 600px 25px 0px 0px #f6a823;
    -moz-box-shadow: 25px 25px 0px 0px, 400px 25px 0px 0px #f6a823;
    position: relative;
    top: 35px; }

.services {
  background: #f0efed;
  padding: 120px 0 100px 0; }

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.services-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .services-item__icon {
    background: #f6a823;
    padding: 10px;
    border-radius: 50%;
    color: black; }

.services-text-cell {
  padding-left: 25px; }
  .services-text-cell__item a {
    color: black; }
  .services-text-cell__item:first-child {
    margin: 0; }

.journey {
  background: #f0efed; }

.journey-container {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .journey-container__image {
    -webkit-box-shadow: 25px 25px 0px 0px #f6a823;
    box-shadow: 25px 25px 0px 0px #f6a823; }
  .journey-container__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 70px; }
  .journey-container__text h2 {
    margin: 0; }

/*  Block */
.gallery {
  background: #fff; }

.gallery-container {
  padding: 100px 0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .gallery-container__image {
    padding: 0 10px;
    margin: 0; }
  .gallery-container__image:first-child {
    padding-left: 0; }
  .gallery-container__image:last-child {
    padding-right: 0; }

.blog-content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px; }
  .blog-content__section--aside {
    width: 33.33%;
    padding-right: 20px; }
  .blog-content__section--main {
    width: 66.66%; }

.aside-content {
  background: #fff;
  padding: 45px;
  margin-bottom: 20px; }
  .aside-content__about-section--item a {
    display: inline-block;
    text-transform: initial;
    color: #285e64;
    font-weight: bold; }
  .aside-content__recent-section {
    list-style: none;
    padding-left: 5px; }
    .aside-content__recent-section--item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-family: "Roboto", sans-serif;
      line-height: 32px;
      font-size: 20px;
      font-size: 2rem; }
    .aside-content__recent-section--item::before {
      content: "\2022";
      color: #f6a823;
      font-weight: bold;
      display: inline-block;
      width: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .aside-content__recent-section--item a {
      text-transform: initial;
      color: #2c2c2c; }

.blog-post {
  background: white;
  padding: 45px;
  border-bottom: 5px solid #f6a823; }
  .blog-post__text:first-child {
    margin: 0; }
  .blog-post__text:nth-child(2) {
    font-style: italic; }

.italic-navy-text {
  font-style: italic;
  font-weight: bold;
  color: #285e64;
  margin: 5px;
  margin-top: 0; }

.blog-reply__section {
  margin: 35px 0;
  padding: 20px 10px 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff; }
  .blog-reply__section--image {
    width: 10%; }
  .blog-reply__section--text {
    width: 90%;
    padding-left: 20px; }

.blog-reply__section:last-child {
  border-bottom: 5px solid #f6a823; }

@media (max-width: 1012px) {
  .aside-content {
    padding: 20px; }
  .blog-post {
    padding: 20px; } }

@media (max-width: 600px) {
  .blog-content {
    display: initial; }
    .blog-content__section--aside {
      width: 95%;
      padding-right: 20px; }
    .blog-content__section--main {
      width: 95%; }
    .blog-content .blog-content__section--aside {
      padding-right: 0px;
      margin: 0 auto; }
    .blog-content .blog-content__section--main {
      margin: 0 auto; }
    .blog-content .header-banner-blog__item {
      text-align: center; } }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto; }
  .contact__info {
    background: #fff;
    padding-left: 25px;
    padding-right: 70px; }

.social-icons {
  list-style-type: none;
  font-size: 25px;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  /* Element */ }
  .social-icons__icon {
    margin: 8px 0;
    padding: 0 15px; }
  .social-icons__icon:first-child {
    padding-left: 0; }
  .social-icons a {
    color: #f6a823; }

.contact-info__list a {
  text-transform: lowercase;
  font-weight: bold;
  font-size: 25px;
  font-size: 2.5rem;
  padding-bottom: 15px; }

.contact-info__list--item {
  text-decoration: none;
  color: #2c2c2c;
  font-style: normal;
  margin: 0;
  padding: 0; }

@media (max-width: 600px) {
  .contact {
    width: 90%;
    text-align: center; }
    .contact__info {
      padding: 10px 5px; }
  .social-icons {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .social-icons__icon {
      font-size: 3.5rem; } }

.footer {
  text-align: center;
  background: #2c2c2c;
  color: #fff; }
  .footer__content {
    padding: 8px;
    margin: 0; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

.skip-link:focus {
  left: 0; }
